body {
  background: #323232;
  color: white;
}

h1 {
}

#username_nav {

}

#photo_container {
  margin-left: 15px;
  overflow: hidden;
}

.photo {
  float: left;
  overflow: hidden;
  a {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  img {
    vertical-align: middle;
    margin: 5px;
    width: 208px;
  }
}
