<script type="text/javascript">
  $(window).load(function() {
    $(".photo_container").masonry({ 
      singleMode: true, 
    });
  });
</script>

<table id="photo_table">
  <tr>
    <td></td>
    <td>
      <ul id="username_nav">
        <% @users.each do |user| %>
          <li><%= link_to user, "#" %> </li>
        <% end %>
      </ul>
    </td>
  </tr>

  <% @photo_hash.each do |date, photos| %>
    <tr>
      <td class="photo_date"> <%= date %></td>
      <td class="photo_container">
        <% photos.each do |p| %>
          <div class="photo flickr_<%= p.ownername %>">
            <%= link_to(image_tag(FlickRaw.url_m(p), :title => p.title, :border => 0, :alt => p.title), FlickRaw.url_m(p), :class => "fancy", :rel => "group")  %>
          </div>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
