<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  <%= javascript_include_tag 'jquery.masonry.min' %>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
